{% extends "layouts/base_full.html" %}

{% block title %}Password Reset Done{% endblock %} 

{% block content %}
<section class="vh-lg-100 mt-5 bg-soft d-flex align-items-center">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Password Reset Completed</h1>

                        <div class="mb-4 text-muted">
                            {% if messages %}  
                            <div class="col-12 text-center">
                                <div class="alert alert-secondary shadow-soft" role="alert">                            
                                    {% for message in messages %}
                                    <span class="alert-inner--text">{{ message }}</span>
                                    {% endfor %}                            
                                </div>                        
                            </div>
                                                        
                            {% endif %} 
                        </div> 

                        <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>


                        
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</section>

{% endblock content %}


