{% extends "layouts/base_full.html" %}
{% load static %}
{% block title %}Set New Password{% endblock %} 


{% block content %}



<div class="container min-vh-100 d-flex align-items-center">
  
    <div class="row text-center m-auto">

        <div class="col-12 mb-4">
            <a href="{% url 'selfurl:index' %}" class="p-3">            
                <img src="{% static site.logo %}" alt="{{site.domain}}">
            </a>

        </div>
        
        
        
        <div class="col-md-12">

            <h1 class="fs-4 fw-bold mb-4">Set New Password</h1>

            <div class="mb-4 text-muted">
                {% if messages %}
                <div class="col-12 text-center">
                    <div class="alert alert-secondary shadow-soft" role="alert">
                        {% for message in messages %}
                        <span class="alert-inner--text">{{ message }}</span>
                        {% endfor %}
                    </div>
                </div>
                
                {% endif %}

                {% if form.non_field_errors %}
                <div class="col-12 text-center">
                    <div class="alert alert-secondary shadow-soft" role="alert">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
                </div>
                </div>
                {% endif %} 
            </div>
            <div class="col-12" >
                {% if validlink %}


                        <form class="text-start" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-primary" value="Change my password">
                        </form>

                        {% else %}

                        <p>The password reset link was invalid, possibly because it has already been used. Please
                            request a new password reset.</p>

                        {% endif %}
            </div>


            
        </div>
    </div>
</div>

{% endblock content %}