{% extends "layouts/v2_base.html" %}
{% load static %}

{% block title %}{{site.slogan}}'s Profile Setting{% endblock %}

{% block content %}



<div class="px-4 py-5 mb-5 text-center  border-bottom ">

    {% if messages %}
    <div class="col-12 text-center">
        <div class="alert alert-secondary shadow-soft" role="alert">
            {% for message in messages %}
            <span class="alert-inner--text">{{ message }}</span>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <img class="d-block mx-auto mb-4" src="{{ site.favicon }}" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold text-primary">{{site.slogan}}'s Profile Setting</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{site.description}}.</p>
    </div>
</div>
{% include "layouts/ads_display.html" %}   

<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">Account Information</h2>
    <div class="row g-4 py-3 row-cols-1">
        <div class="col-12">
            <form method="post" id="user_form" action="">
                <div class="row g-3">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 p-2">
                            <div class="form-floating">
                                {{ user_form.username }}
                                <label class="mb-2 text-muted"  for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}</label>
                            </div>
                            <span class="text-error invalid-feedback">{{ user_form.username.errors }}</span>
                        </div>

                        <div class="col-md-6 p-2">
                            <div class="form-floating">
                                {{ user_form.first_name }}
                                <label class="mb-2 text-muted"
                                    for="{{ user_form.first_name.id_for_label }}">{{ user_form.first_name.label }}</label>
                            </div>
                            <span class="text-error invalid-feedback">{{ user_form.first_name.errors  }}</span>
                        </div>

                        <div class="col-md-6 p-2">
                            <div class="form-floating">
                                {{ user_form.last_name }}
                                <label class="mb-2 text-muted"
                                    for="{{ user_form.last_name.id_for_label }}">{{  user_form.last_name.label }}</label>
                            </div>
                            <span class="text-error invalid-feedback">{{ user_form.last_name.errors  }}</span>
                        </div>

                        <div class="col-md-6 p-2">
                            <div class="form-floating">
                                {{ user_form.email }}
                                <label class="mb-2 text-muted" for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}</label>
                            </div>
                            <span class="text-error invalid-feedback">{{ user_form.email.errors }}</span>
                        </div>



                        <div class="col-md-6 p-2">
                            <div class="form-floating">
                                {{ user_form.phone }}
                                <label class="mb-2 text-muted" for="{{ user_form.phone.id_for_label }}">{{ user_form.phone.label }}</label>
                            </div>
                            <span class="text-error invalid-feedback">{{ user_form.phone.errors }}</span>
                        </div>

                        <div class="col-md-6 p-2">
                            <div class="form-floating">
                                {{ user_form.orgonization }}
                                <label class="mb-2 text-muted"
                                    for="{{ user_form.orgonization.id_for_label }}">{{ user_form.orgonization.label }}</label>
                            </div>
                            <span class="text-error invalid-feedback">{{ user_form.orgonization.errors  }}</span>
                        </div>

                        <div class="col-12 p-2">
                            <input class="btn btn-primary w-100 py-3" name="user_form" type="submit"
                                value="Update">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "layouts/ads_display.html" %}   

<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">Profile Information</h2>
    <div class="row g-4 py-3 row-cols-1">
        <div class="col-12">
            <form method="post" id="profile_form" action="">
                <div class="row g-3">
                    {% csrf_token %}                    
                    <div class="row">
                        <div class="col-md-12 p-2">
                            <div class="form-floating">
                                {{ profile_form.about }}
                                <label class="mb-2 text-muted"
                                    for="{{ profile_form.about.id_for_label }}">{{ profile_form.about.label }}</label>
                            </div>
                            <span class="text-error invalid-feedback">{{ profile_form.about.errors }}</span>
                        </div>

                        <div class="col-md-6 p-2">
                            <div class="form-floating">
                                {{ profile_form.location }}
                                <label class="mb-2 text-muted"
                                    for="{{ profile_form.location.id_for_label }}">{{ profile_form.location.label }}</label>
                            </div>
                            <span class="text-error invalid-feedback">{{ profile_form.location.errors  }}</span>
                        </div>

                        <div class="col-md-6 p-2">
                            <div class="form-floating">
                                {{ profile_form.birthdate }}
                                <label class="mb-2 text-muted"
                                    for="{{ profile_form.birthdate.id_for_label }}">{{ profile_form.birthdate.label }}</label>
                            </div>
                            <span class="text-error invalid-feedback">{{ profile_form.birthdate.errors }}</span>
                        </div>

                        <div class="col-12 p-2">
                            <input class="btn btn-primary w-100 py-3" name="profile_form"
                                form="profile_form" type="submit" value="Update">
                        </div>
                    </div>
                </div>                        
            </form>
        </div>
    </div>
</div>

{% include "layouts/ads_multiplex.html" %}   








{% endblock %}