{% extends "layouts/v2_base.html" %}
{% load static %}


{% block title %}{{meta_data.title}}{% endblock %}

{% block content %}

<div class="px-4 py-5 mb-5 text-center  border-bottom ">
    <img class="d-block mx-auto mb-4" src="{% static  site.favicon %}" alt="{{site.name}}" width="72" height="72">
    <h1 class="display-5 fw-bold text-primary">{{meta_data.title|safe}}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{meta_data.description|safe}}.</p>
        <div class="row justify-content-center">
            {% if data %}
            <div class="row g-3 align-items-center">
                <h2 class="text-danger">Your shortened Url</h2>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="col-auto me-2">
                        <input id="urlresult" class="form-control" type="text"
                            value="{{request.build_absolute_uri}}{{data.short_url}}">
                    </div>
                    <div class="col-auto">
                        <button onclick="copy()" class="btn btn-primary">Copy</button>
                    </div>
                </div>
                <p>You can copy the link and share it with your friends</p>
            </div>
            {% include "layouts/ads_display.html" %}
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <p class="mt-2"> OR <span class="text-danger">Share directly to:</span> </p>
            <div class="addthis_inline_share_toolbox_spsh mt-2"></div>
            <div class="row g-3 align-items-center">
                <p><span class="text-danger">Previous URL:</span> {{data.long_url}}</p>
            </div>
            {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="position-relative mt-3">
                    {{ form.long_url }}
                    <button type="submit" class="btn btn-primary mt-4">Short URL</button>
                </div>
                <span class="text-error invalid-feedback">{{ form.long_url.errors }}</span>
            </form>

            <div class="col-lg-8 text-start align-center">
                {% if messages %}                                                     
                    {% for message in messages %}
                   <em class="text-danger ">{{ message }}</em> 
                    {% endfor %} 
                {% else %} 
                {% endif %} 
            </div> 


            {% include "layouts/ads_display.html" %}
            {% endif %}
        </div>
    </div>
</div>

<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">{{meta_data.title}}</h2>
    <div class="row g-4 py-3 row-cols-1">
        <div class="col-12">
            <p>{{meta_data.body|safe}}</p>
        </div>
    </div>
</div>

{% include "layouts/ads_inarticle.html" %}

<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">What Solutions We Provide</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% for aco in acordion %}
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <i class="fa {{aco.fa_icon_class}} fa-2x text-danger"></i>
            </div>
            <div>
                <h3 class="text-primary">{{aco.button_text}}</h3>
                <p>{{aco.button_des}}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}

{% block javascripts %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4d95fcae2a2f4222"></script>
<script type="text/javascript">
    function copy() {
        let textarea = document.getElementById("urlresult");
        textarea.select();
        document.execCommand("copy");
    }
    var addthis_share = {
        url: "{{request.build_absolute_uri}}{{data.short_url}}",
        title: "The short url created by {{site.domain}} is ",
    }
    var addthis_config = {
        data_track_clickback: false,
        data_track_addressbar: false,
    } 
</script>


{% endblock javascripts %}