{% extends "layouts/v2_base.html" %}
{% load static %}


{% block title %}{{meta_data.title}}{% endblock %}

{% block content %}

<div class="px-4 py-5 mb-5 text-center  border-bottom ">
    <img class="d-block mx-auto mb-4" src="{% static  site.favicon %}" alt="{{site.name}}" width="72" height="72">
    <h1 class="display-5 fw-bold text-primary">{{meta_data.title|safe}}</h1>
    <div class="mt-2">
        {# {% include "layouts/ads_boom_your_identity.html" %} #}
    </div>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{meta_data.description|safe}}.</p>
        <div class="row justify-content-center">
            {% if data %}
            <div class="row g-3 align-items-center">
                <h2 class="text-danger">Your shortened Url</h2>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="col-auto me-2">
                        <input id="urlresult" class="form-control" type="text"
                            value="{{site.domain}}/{{data.short_url}}">
                    </div>
                    <div class="col-auto">
                        <button onclick="copy()" class="btn btn-primary">Copy</button>
                    </div>
                </div>
                <p>You can copy the link and share it with your friends</p>
            </div>
            {# {% include "layouts/ads_display.html" %} #}
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <p class="mt-2"> OR <span class="text-danger">Share directly to:</span> </p>
            <div class="addthis_inline_share_toolbox_spsh mt-2"></div>
            <div class="row g-3 align-items-center">
                <p><span class="text-danger">Previous URL:</span> {{data.long_url}}</p>
            </div>
            {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="position-relative mt-3">
                    {{ form.long_url }}
                    <button type="submit" class="btn btn-primary mt-4">Short URL</button>
                </div>
                <span class="text-error invalid-feedback">{{ form.long_url.errors }}</span>
            </form>

            <div class="col-lg-8 text-start align-center">
                {% if messages %}                                                     
                    {% for message in messages %}
                   <em class="text-danger ">{{ message }}</em> 
                    {% endfor %} 
                {% else %} 
                {% endif %} 
            </div> 


            {# {% include "layouts/ads_display.html" %} #}
            {% endif %}
        </div>
    </div>
</div>


<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">What are the Benefits of URL Shortening?</h2>
    <div class="row g-4 py-3 row-cols-1">
        <div class="col-12">
       <p>     URL shortening is a useful tool for condensing long, complex web addresses into shorter, easier-to-remember links. This can be incredibly beneficial for businesses, as it makes it easier to share links on social media, email, and other digital platforms. It also makes it easier for customers to access your website and services.</p>

        <p>Shortened URLs can also increase the security of links, as they make it harder for malicious users to guess the web address or access the content behind the link. They can also be used to track user behavior, allowing businesses to gain valuable insights into their customer base.</p>

        <p>Finally, URL shortening can be used to create branded links that incorporate your company name or logo. This can help strengthen your brand recognition and make your links more visually appealing. </p>

        <p>Overall, URL shortening can be a powerful tool for businesses to simplify their link-sharing process, and to increase the security, trackability, and branding of their links.</p>

        </div>
    </div>
</div>


<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">How to Track Link Performance with URL Shorteners</h2>
    <div class="row g-4 py-3 row-cols-1">
        <div class="col-12">
            
            <p>Tracking the performance of your links is essential for understanding how your customers are engaging with your content. Fortunately, {{site.name}} URL shorteners can make this easier by providing detailed analytics and insights into your links. </p>

            <p>The first step is to <a href="{% url 'accounts:signup' %}">register</a> for free URL shortener service at {{site.name}}. Once you have set up your account, you can create shortlinks by pasting in URL shortner box.</p>

            <p>To track your link performance, you can use the <a href="{% url 'selfurl:statistics' %}">Statistics</a>  dashboard menu. This will provide you with detailed information on how many people are clicking your links, where they are coming from. You can also use this data to optimize your campaigns and adjust your strategy in real-time.</p>

            <p>Using URL shorteners to track link performance can be an invaluable tool for businesses looking to gain insights into their customers and maximize the effectiveness of their campaigns.</p>

        </div>
    </div>
</div>

<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">Tips for Optimizing URLs for Social Sharing</h2>
    <div class="row g-4 py-3 row-cols-1">
        <div class="col-12">
           <p> Optimizing your URLs for social sharing is essential for businesses looking to increase their reach and engagement. Fortunately, there are several tips you can use to make sure your links are optimized for social media platforms.</p>

           <p> The first step is to create short, memorable links that are easy to copy and paste. This will make it easier for customers to share your links and increase the visibility of your content.</p>

           <p> You should also consider using URL shortening services to condense long, complex web addresses into shorter, easier-to-remember links. This will help make your links more aesthetically pleasing and help you create branded links that incorporate your company name or logo.</p>

           <p> Finally, it's important to ensure you are using the correct image sizes for each social media platform. This will ensure your images are displayed correctly and that your content looks professional and appealing.</p>

           <p> By following these tips, you can ensure your URLs are optimized for social media and maximize the reach and engagement of your content.</p>
        </div>
    </div>
</div>

<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">Best Practices for URL Shortening</h2>
    <div class="row g-4 py-3 row-cols-1">
        <div class="col-12">
           <p> URL shortening is a great way to make your web addresses more concise and easier to remember. However, it's important to follow best practices to ensure your links are secure and effective.</p>

           <p> First, it's important to <a href="{% url 'accounts:signup' %}">register</a> at {{site.name}}. It is free and reliable. Shorting URL without registering is not best practices. {{site.name}} also offers features such as click-tracking and analytics.</p>

           <p> You can  use {{site.name}} URL shortening to create short, memorable links that are easy to share on social media and other digital platforms. </p>

           <p> Finally, it's important to regularly analyze your link performance and adjust your strategy accordingly. This will ensure you are getting the most out of your links and maximizing their effectiveness.</p>

           <p> By following these best practices, you can ensure that your links are secure and effective, and that you are getting the most out of your URL shortening efforts.</p>

        </div>
    </div>
</div>

<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">{{meta_data.title}}</h2>
    <div class="row g-4 py-3 row-cols-1">
        <div class="col-12">
            
            <p>{{meta_data.body|safe}}</p>
        </div>
    </div>
</div>

<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">{{meta_data.title}}</h2>
    <div class="row g-4 py-3 row-cols-1">
        <div class="col-12">
            
            <p>{{meta_data.body|safe}}</p>
        </div>
    </div>
</div>

{# {% include "layouts/ads_inarticle.html" %} #}

<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">What Solutions We Provide</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% for aco in acordion %}
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <i class="fa {{aco.fa_icon_class}} fa-2x text-danger"></i>
            </div>
            <div>
                <h3 class="text-primary">{{aco.button_text}}</h3>
                <p>{{aco.button_des}}</p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}

{% block javascripts %}
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4d95fcae2a2f4222"></script>
<script type="text/javascript">
    function copy() {
        let textarea = document.getElementById("urlresult");
        textarea.select();
        document.execCommand("copy");
    }
    var addthis_share = {
        url: "{{request.build_absolute_uri}}{{data.short_url}}",
        title: "The short url created by {{site.domain}} is ",
    }
    var addthis_config = {
        data_track_clickback: false,
        data_track_addressbar: false,
    } 
</script>


{% endblock javascripts %}