{% extends "layouts/v2_base.html" %}
{% load static %}

{% block title %}{{site.slogan}}{% endblock %}

{% block content %}

<div class="px-4 py-5 mb-5 text-center border-bottom">
    <img class="d-block mx-auto mb-4" src="{% static  'site.favicon' %}" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">We will redirect you to the source of--</h1>
    <p class="badge bg-info text-dark">{{site.canonical}}</p>
    <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">{{site.description|safe}}</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">{{redirecting}}</button>
        </div>
    </div>
</div>

<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">At {{site.domain}}, what is a URL shortener?</h2>
    <div class="row g-4 py-3 row-cols-1">
        <div class="col-12">
            <p>
                A URL shortener is a program that reduces the length of your long links. As per example
                <b>{{site.canonical}}</b> has been created from <b>{{url}}</b>. Our selfurl tool can cut your long URLs
                of maximum 2000 characters while still directing them to the same web pages. To use our free URL
                shortener, simply copy and paste your long link into our tool, and we'll turn it into something more
                shareable.
            </p>

            <p>{{visitor_log}}.</p>

            <p> Since it is a free service we encourage users to register and use it. We request that you do not use our
                free service for any malicious purpose. This page is for short URLs created by unregistered users. But
                the URL created by the registered user goes directly and quickly to the desired URL.</p>
            <p>If you think this URL is being used for malicious purposes, report it by clicking the <a
                    class="text-danger" href="{% url 'selfurl:report_malicious' %}">Report Malicious</a> button from the
                menu and we will block it immediately. And no one will ever be able to regenerate this short form on our
                site for the long URL for which it was created.</p>
            <p>
        </div>
    </div>
</div>

<script type="text/javascript">
    setTimeout(function () {
        window.location.href = "{{url}}";
    }, 6000);
</script>
{% include "layouts/ads_propellerads_Interstitial.html" %}
</div>

{% endblock %}