
{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{{site.slogan}}{% endblock %} 

{% block content %}


    <div class="container-fluid bg-white p-0">
        {% include "layouts/loading_spiner.html" %}


        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            

            {% include "layouts/navbar.html" %}

            <!--<div class="container-xxl py-5 bg-primary hero-header mb-5">-->
            <div class="container-fluid py-5 bg-primary mb-5">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center align-center">
                            <h1 class="text-danger mb-4 animated zoomIn"><strong>We will get you to your chosen destination in short....</strong></h1>
                            <a href="{{url}}">
                            <button class="btn btn-warning display-4" type="button" disabled>
                                <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                                {{redirecting}}
                            </button>
                        </a>
                            <p class="text-white pb-3 animated zoomIn mt-4"> {{site.description}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

 


        <!-- Newsletter Start -->
        <div class="container-xxl bg-primary newsletter my-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container px-lg-5">
                <div class="row">
                    <div class="col-12 p-4 text-white">
                   <h4 class="text-white" >At selfurl.xyz, what is a URL shortener?</h4> 
                   <p>
                    A URL shortener is a program that reduces the length of your long links. Our selfurl tool can cut your long URLs of maximum 2000 characters while still directing them to the same web pages. To use our free URL shortener, simply copy and paste your long link into our tool, and we'll turn it into something more shareable.

                   </p>

                    

<p> Since it is a free service we encourage users to register and use it. We request that you do not use our free service for any malicious purpose. This page is for short URLs created by unregistered users. But the URL created by the registered user goes directly and quickly to the desired URL.</p>
<p>If you think this URL is being used for malicious purposes, report it by clicking the Report Military button from the menu and we will block it immediately. And no one will ever be able to regenerate this short form on our site for the long URL for which it was created.</p>
<p>With our URL shortener, you may make your long links shorter. With branded and personalised links that reflect you, you'll get more hits and visibility. selfurl's statistics is where you can manage your shortened links. Use short URLs for social networking, email campaigns, and other applications. Our links are reliable, safe, and never expire.</p>
</div>
</div>
            </div>
        </div>
        <!-- Newsletter End -->


        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    
                </div>
            </div>
        </div>
        <!-- Service End -->


<!--
        <script type="text/javascript">
            setTimeout(function() {
                window.location.href = "{{url}}";
            }, 5000);
        </script>

         -->
        
   



    </div>

    {% endblock %}


