.bg-teal {
    background-color: #005C53;
}
.bg-darkteal {
    background-color: #042940;
}
.bg-lightteal {
    background-color: #9FC131;
}
.bg-floroyellow {
    background-color: #DBF227;
}
.bg-beige {
    background-color: #D6D58E;
}