
{% extends "layouts/v2_base.html" %}
{% load static %}

{% block title %}{{meta_data.title}}{% endblock %} 

{% block content %}


<div class="px-4 py-5 mb-5 text-center  border-bottom ">

    {% if messages %}  
    <div class="col-12 text-center">
        <div class="alert alert-secondary shadow-soft" role="alert">                            
            {% for message in messages %}
            <span class="alert-inner--text">{{ message }}</span>
            {% endfor %}                            
        </div>                        
    </div>
    {# {% include "layouts/ads_display.html" %} #}
    {% endif %}


    <img class="d-block mx-auto mb-4" src="{% static  site.favicon %}" alt="{{site.name}}" width="72" height="72">
    <h1 class="display-5 fw-bold text-primary">{{meta_data.title|safe}}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{meta_data.body|safe}}.</p>        
    </div>
    <div class="mt-2">
        {# {% include "layouts/ads_boom_your_identity.html" %} #}
    </div>
</div>


<div class="border-bottom mb-5">
    <h2 class="pb-2 border-bottom border-3 border-primary text-danger">Contact us via the form below.</h2>
    {# {% include "layouts/ads_display.html" %} #}
    <div class="row g-4 py-3 row-cols-1">
        <div class="col-12">
            <form method="POST">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            {{ form.name }}
                            <label class="mb-2 text-muted" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        </div>
                        <span class="text-error invalid-feedback">{{ form.name.errors }}</span>
                    </div> 
                    
                    <div class="col-md-6">
                        <div class="form-floating">
                            {{ form.email }}
                            <label class="mb-2 text-muted" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        </div>
                        <span class="text-error invalid-feedback">{{ form.email.errors }}</span>
                    </div>


                    <div class="col-12">
                        <div class="form-floating">
                            {{ form.subject }}
                            <label class="mb-2 text-muted" for="{{ form.subject.id_for_label }}">{{ form.subject.label }}</label>
                        </div>
                        <span class="text-error invalid-feedback">{{ form.subject.errors }}</span>
                    </div>


                    <div class="col-12">
                        <div class="form-floating">
                            {{ form.message }}
                            <label class="mb-2 text-muted" for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                        </div>
                        <span class="text-error invalid-feedback">{{ form.message.errors }}</span>
                    </div>

                    <div class="col-12">
                        <div class="form-floating">
                            {{ form.captcha }}
                            
                        </div>
                        <span class="text-error invalid-feedback">{{ form.captcha.errors }}</span>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                    </div>
                </div>
            </form>

            {# {% include "layouts/ads_display.html" %} #}
        </div>
    </div>
</div>




    {% endblock %}


